#welcome1 {
    border: solid 1px black;
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
}

#container {
    background-color: white;
    margin: 20px;
    padding: 25px;
}